.wrappers{
    position: relative;
}

.overlays{
    position: absolute;
    top: 10%;
    color: white;
    left: 5%;
    font-size: 7vw;
}

.week-weather{
    background-color: #C7D1D9;
    font-size: 3vh;
    padding-left: 0;
    padding-right: 0;
}

.week-weather .row{
    margin-top: 1%;
    margin-bottom: 1%;
}